<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/add.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
</head>
<body>
    <h1>Thêm Sách</h1>
    
    <!-- Hiển thị thông báo lỗi hoặc thành công -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="notification-container">
            <ul>
                {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}

    <form action="{{ url_for('add') }}" method="POST">
        <label for="ten_sach">Tên sách:</label>
        <input type="text" name="ten_sach" required>
        <label for="tac_gia">Tác giả:</label>
        <input type="text" name="tac_gia" required>
        <label for="nxb">NXB:</label>
        <input type="text" name="nxb" required>
        <label for="the_loai">Thể loại:</label>
        <input type="text" name="the_loai" required>
        <button type="submit">Thêm sách</button>
    </form>

    <h2>Danh Sách Sách</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Tên Sách</th>
            <th>Tác Giả</th>
            <th>NXB</th>
            <th>Thể Loại</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book[0] }}</td> <!-- ID -->
            <td>{{ book[1] }}</td> <!-- Tên Sách -->
            <td>{{ book[2] }}</td> <!-- Tác Giả -->
            <td>{{ book[3] }}</td> <!-- NXB -->
            <td>{{ book[4] }}</td> <!-- Thể Loại -->
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('index') }}" class="back-button">Quay về trang chính</a>
</body>
</html>
