<!-- edit_profile.html -->
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chỉnh sửa thông tin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_profile.css') }}">
</head>
<body>
    <h1>Chỉnh sửa thông tin</h1>

        <!-- Hiển thị thông báo lỗi nếu có -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="notification-container">
                <ul>
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    <div class="edit-profile-container">
        
        <form method="POST">
            <!-- Hiển thị tên đăng nhập cũ và cho phép thay đổi -->
            <p>Tên đăng nhập: <input type="text" name="username" value="{{ user[0] }}" required></p>
            
            <!-- Hiển thị mật khẩu cũ và cho phép thay đổi nếu cần -->
            <p>Mật khẩu: <input type="password" name="password" placeholder="Mật khẩu mới (nếu có)"></p>
            
            <button type="submit">Cập nhật thông tin</button>
        </form>

        <a href="{{ url_for('index') }}">Trở về trang chủ</a>
    </div>
</body>
</html>
